body{
	background: #eaeaea;
	overflow-x:hidden;
}
nav{
	background: #be202d;
	position: fixed;
	width: 100%;
	z-index: 1;
}
#countdown{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	text-align: center; 
}
.black__text{
	font-weight: bold;
	background: initial;
}

.title{
	font-weight: bold;
}

.center-image{
	display: block;
	margin:0 auto;
}

#content{
	margin-top: 64px;
}

#sidenav-overlay{
	z-index: 0 !important;
}


.without-left-padding{
	padding-left: 0; 
}

nav a, nav a:hover, nav a:visited {
	color: #fff;
}

.side-nav a, .side-nav a:hover, .side-nav a:visited {
	color: #000;
}

/*Menu*/
.subitems{
	width: 100%;
	padding-left: 15px;
}
/*Redes sociales menu*/
.social__media__menu{
	width: 80%;
	height: auto;
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin: 0 auto;
}
.social__media__menu a{
	font-size: 25px;
}

.social__media__menu input{
	margin: 0;
}



/*END menu*/

/*Mapa*/
.jvectormap-container svg{
	height: 100%;
}
/*End mapa*/

/*navbar*/
.social__media__header li a{
	font-size: 25px;
	padding: 0 10px;
}
.nav-wrapper .button-collapse{
	display: initial;
}
/*End navbar*/

.custom-logo{
	width: 150px;
	height: auto;
	margin-top: 5px;
}


/*Candidate-styles*/
.candidate{
	width: 100%;
	height: 460px;
	background: #fff;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
	margin-bottom: 1em;

}

.candidate__image{
	width: 100%;
	height: 199px;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	position: relative;
	overflow: hidden; 
}

.candidate__description{
	padding: 8px 20px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
}

.candidate__party{
	color:#be202d;
	font-weight: thin;
	text-transform: uppercase;
	margin: 0;
	width: 100%;

}

.candidate__party__image{
	margin: 0;
	padding: 0;
	position: absolute;
	top: 100%;
	left:10px;
	transform: translateY(-95%);
}

.candidate__party__image img{
	width: 50px;
	height: 50px;
}

.candidate__title{
	font-size: 18px;
	font-weight: bold;
	color:#444;
	margin: 0;
	line-height: 1.2;
	width: 100%;
	height: 42px;
}

.candidate__title:visited{
	color:#444;
}

.candidate__title:hover{
	color:#dd9933;
} 

.candidate__news{
	margin: 0.5em;
	padding: 0px 3px;
	display: flex;
	width: 100%;
	justify-content: space-around;
	align-items: center;
}

.candidate__news:hover{
	cursor:pointer;
	color:#dd9933;
}

.candidate__news figure{
	margin:0;
	width: 30%;
	max-height: 60px;
	overflow: hidden;
}

.candidate__news figure img{
	max-width: 100%;
	/*max-height: 56px;*/
} 

.candidate__news__title{
	width: 70%;
	font-size: 16px;
	padding:0 3px 0 5px;
	margin: 0;
}

.candidate__percent{
	width: 100%;
	padding: 0 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.progress{
	width: 95%;
	height: 15px;
	background: #b4b5b5;
	margin: 0;
}

.candidate__percent__number{
	width: 15%;
	margin: 0;
	text-align: right;
}

.candidate__actions{
	width: 100%;
	padding: 0 10px;
	display: flex;
	justify-content: space-between;
	margin-top: 1em;
	flex-wrap: wrap;
}

.candidate__actions a:visited{
	color: #be202d;
}

.candidate__actions a:hover{
	color: #fff;
}

.full__btn{
	width: 100% !important;
}

.candidate__more__container{
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin-bottom: 0.5em;
}

.candidate__more__news{
	width: auto;
	border:solid 1px #be202d;
	text-align: center;
	color:#be202d;
	animation-duration: 2s;
	padding:5px;
}

.candidate__more__news:hover{
	color:#fff;
	background:#be202d;
	cursor: pointer;
}

.candidate__share{
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	position: absolute;
	top:100%;
	padding-right: 10px;
	transform: translateY(-90%);
}

.candidate__share a{
	color:#be202d;
	font-size: 22px;
	padding:5px;
}

.candidate__share a:hover,.candidate__share a:visited{
	color:#be202d;
	cursor: pointer;
}

#btn__vote{
	background: #be202d;
	color: #fff;
}


/*Estilos para el post del candidato*/
.candidateHeader{
	width: 100%;
	min-height: 500px;
	max-height: 600px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	overflow: hidden;
}

.candidateHeader__image{
	width: 70%;
	/*height: 100%;*/
	min-height: 500px;
	max-height: 600px;
	background-position: top;
	background-size: cover;
	background-repeat: no-repeat;
	position: relative;  
}

.candidateHeader__filter{
	position: absolute;
	width: 100%;
	height: 100%;
	background:rgba(0, 0, 0, 0.5);
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: flex-start;
}

.candidateHeader__information{
	width: 100%;
	display: flex;
	align-self: flex-end;
	justify-content: flex-start;
	align-items: center;
	/*flex-wrap:wrap; */
	padding-left: 20px;
	margin-bottom: 1em;
}

.candidateHeader__title{
	color: #fff;
	margin: 0;
	padding: 0 0 0 5px;
	font-weight: bold;
	font-size: 3rem;
}

.candidateHeader__party{
	width: 100%;
	color: #c5c5c5;
	margin: 0 0 1.5em 0;
}



.candidateHeader__statics{
	width: 30%;
	background: #eaeaea;
	min-height: 500px;
	max-height: 600px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding: 10px;
	overflow: hidden;
}

.candidateHeader__progress{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.candidate__more__container-header{
	width: 50%;

}

.full__container{
	width: 100%;
}

.candidateHeader-actions{
	align-self: flex-end;
}

.candidate__more__container-header a{
	padding:5px 15px;
}

.candidate__share-header{
	width: 50%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.candidate__share-header a{
	font-size: 30px;
	margin: 0 3px;
	color:#be202d;
}

.candidate__share-header a:hover,.candidate__share-header a:visited{
	color:#be202d;
}



/*Estilos para the post*/
.candidateContent{
	background:#fff;
	padding: 5px 10px;
}
/*End estilos the post*/

/*Estilos para candidatos relacionados*/
.relatedMain{
	margin: 1.5em 0 ;
	border:solid 0.5px #ddd;
	position: relative;
	overflow: auto;
}
.related__card{
	width: 100%;
	display: flex;
	justify-content: space-between;
	margin-bottom: 1em;
}

.related__card figure{
	margin: 0;
	width: 30%;
	overflow: hidden;
	border-bottom: solid 1px #ddd;
}

.related__card figure img{
	width: 100%;
}

.related__information{
	width: 70%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	flex-wrap: wrap;
	margin-left: 10px;
}

.related__title{
	font-weight: bold;
	margin:0;
	width: 100%;
	color: #dd9933;
}

.related__title:hover, .related__title:visited {
	color: #dd9933;
}

.related__party{
	color: black;
	margin: 0;
	width: 100%;
}

.related__information .without-left-padding{
	padding-left: 0;
}

.fixed__related{
	position: fixed;
    left: 83% !important;
    top: 50%;
    transform: translate(-50%,-50%);
    background: #eaeaea;
    width: 33.3333333333% !important;
}


#stickyPublicity{
	width: 100%;
	height: 250px;
	/*background: red;*/
}

#regularPublicity{
	width: 100%;
	height: 250px;
	margin-bottom: 1em;
}
/*End estilos candidatos relacionados*/


/*Estilo para las tarjetas News */
.theNews{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 250px;
	background-size: 150%;
	background-position: top;
	background-repeat: no-repeat;
	position: relative; 
	cursor: pointer;
	transition: all 3s ease;
	margin-bottom: 1em;
}

.theNews__content{
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 15px;
	transition: all 3s ease;
	flex-wrap: wrap;
	/*background: blue;*/
}

.theNews__content:hover{
	background:rgba(190,32,45,0.51);
}

.theNews__content:hover .title__news{
	color:#dd9933;
}

.theNews:hover{
	background-size: 200%;
}

.title__news, .hour__news{
	color: #fff;
	text-transform: uppercase;
	font-weight: bold;
	text-shadow: 1px 1px 2px #000;
	text-align: left;
	width: 100%;
	margin: 0;
	font-size: 20px;

}


/*End de tarjeta News*/


/*Estilos para candidato siguiente y anterior*/
.candidate__prev, .candidate__next{
	width: 100%;
	height: 250px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	position: relative;
	margin-bottom: 1em;
}

.candidate__prev:hover, .candidate__next:hover{
	cursor: pointer;
}

.candidate__navigation__content{
	position: absolute;
	overflow: hidden;
	width: 100%;
	height: 100%;
	display: flex;
	background: rgba(0, 0, 0, 0.44);
	color:#fff;
}

.candidate__prev .candidate__navigation__content{
	justify-content: flex-start;
	align-items: flex-end;
}

.candidate__prev .candidate__navigation__content .navigation__title:before{
	content:'<< ';
}

.candidate__next .candidate__navigation__content .navigation__title:after{
	content:' >>';
}

.candidate__next .candidate__navigation__content{
	justify-content: flex-end;
	align-items: flex-end;
}

.navigation__title{
	font-size: 25px;
	text-transform: uppercase;
	padding: 0 20px;
}
/*Emd estilos para candidato siguiente y anterior*/

/*Estilos footer*/
.footer__seuno{
	background: #383838;
	color:#fff;
	margin: 0;
}
/*END footer*/

/*Estilos para alerta de sweet alert*/
.candidate__share-alert a{
	color: #be202d;
	font-size: 40px;
	padding: 5px;
}

.candidate__share-alert a:hover, .candidate__share-alert a:visited{
	color:#be202d;
}



@media only screen and (max-width: 600px){
	.candidateHeader{
		flex-wrap: wrap;
		max-height: initial;
		overflow: auto;
	}
	.candidateHeader__image, .candidateHeader__statics{
		width: 100%;
	}

	/*sricky bar*/
	#content{
		margin-top: 56px;
	}

	.candidateHeader__title{
		font-size: 1.5rem;
	}

	.desktop__candidate{
		display: none;
	}
}


@media only screen and (min-width: 993px){
	.container{
		width: 90%;
	}

	.movile__candidate{
		display: none;
	}
}